In [1]:
import pandas as pd

In [2]:
colunas = ['CO_CATEGAD','CO_GRUPO','CO_REGIAO_CURSO','CO_UF_CURSO','TP_SEXO','TP_PRES','NT_GER','NT_FG','NT_OBJ_FG','NT_DIS_FG','NT_CE','NT_OBJ_CE','NT_DIS_CE', 'QE_I01', 'QE_I02','QE_I04','QE_I05', 'QE_I06', 'QE_I07', 'QE_I08','QE_I13','QE_I15','QE_I17', 'QE_I18', 'NU_IDADE','CO_CURSO','CO_MODALIDADE','ANO_FIM_2G','ANO_IN_GRAD','IN_MATUT','IN_VESPER','IN_NOTURNO','CO_IES','CO_ORGACAD','QE_I10','CO_RS_I9','QE_I22','QE_I23', 'QE_I61', 'QE_I62', 'QE_I65', 'QE_I38', 'QE_I27']

In [3]:
#turnos
# in_matut
# in_vesper
# in_noturno

In [4]:
microdados = pd.read_csv('MICRODADOS_ENADE_2014_2.csv',sep=';',usecols=colunas,decimal=',',dtype={'TP_PRES':int,'CO_CURSO':str})
#curso dj1 pq foi retirado

/home/luiscapelari/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
microdados

,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,...,QE_I15,QE_I17,QE_I18,QE_I22,QE_I23,QE_I27,QE_I38,QE_I61,QE_I62,QE_I65
0,1,10002,10028,5710,3,1,51,5,24,M,...,A,B,A,A,C,6.0,5.0,4.0,4.0,5.0
1,1,10002,10028,5710,3,1,51,5,22,F,...,A,B,A,B,B,4.0,2.0,3.0,3.0,1.0
2,1,10002,10028,5710,3,1,51,5,24,F,...,A,E,A,B,B,5.0,4.0,1.0,1.0,3.0
3,1,10002,10028,5710,3,1,51,5,24,M,...,A,B,A,C,B,1.0,1.0,1.0,7.0,4.0
4,1,10002,10028,5710,3,1,51,5,23,M,...,A,B,A,B,D,1.0,2.0,5.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481715,47,10001,10028,4005,5001162,0,52,5,36,F,...,F,A,A,E,C,6.0,5.0,5.0,6.0,3.0
481716,47,10001,10028,4005,5001162,0,52,5,32,M,...,A,A,A,B,A,5.0,5.0,5.0,6.0,5.0
481717,47,10001,10028,4005,5001162,0,52,5,21,F,...,A,A,A,C,C,6.0,5.0,6.0,6.0,3.0
481718,47,10001,10028,4005,5001162,0,52,5,41,F,...,A,A,C,E,B,5.0,5.0,4.0,4.0,4.0
481719,47,10001,10028,4005,5001162,0,52,5,31,M,...,A,A,A,C,E,6.0,6.0,6.0,6.0,6.0

In [6]:
microdados.dtypes

CO_IES              object
CO_CATEGAD           int64
CO_ORGACAD           int64
CO_GRUPO             int64
CO_CURSO            object
CO_MODALIDADE        int64
CO_UF_CURSO          int64
CO_REGIAO_CURSO      int64
NU_IDADE             int64
TP_SEXO             object
ANO_FIM_2G           int64
ANO_IN_GRAD          int64
IN_MATUT             int64
IN_VESPER            int64
IN_NOTURNO           int64
TP_PRES              int64
NT_GER              object
NT_FG               object
NT_OBJ_FG           object
NT_DIS_FG           object
NT_CE               object
NT_OBJ_CE           object
NT_DIS_CE           object
CO_RS_I9            object
QE_I01              object
QE_I02              object
QE_I04              object
QE_I05              object
QE_I06              object
QE_I07              object
QE_I08              object
QE_I10              object
QE_I13              object
QE_I15              object
QE_I17              object
QE_I18              object
QE_I22              object
QE_I23              object
QE_I27             float64
QE_I38             float64
QE_I61             float64
QE_I62             float64
QE_I65             float64
dtype: object

In [7]:
microdados.isna().any()

CO_IES             False
CO_CATEGAD         False
CO_ORGACAD         False
CO_GRUPO           False
CO_CURSO           False
CO_MODALIDADE      False
CO_UF_CURSO        False
CO_REGIAO_CURSO    False
NU_IDADE           False
TP_SEXO            False
ANO_FIM_2G         False
ANO_IN_GRAD        False
IN_MATUT           False
IN_VESPER          False
IN_NOTURNO         False
TP_PRES            False
NT_GER              True
NT_FG               True
NT_OBJ_FG           True
NT_DIS_FG           True
NT_CE               True
NT_OBJ_CE           True
NT_DIS_CE           True
CO_RS_I9            True
QE_I01              True
QE_I02              True
QE_I04              True
QE_I05              True
QE_I06              True
QE_I07              True
QE_I08              True
QE_I10              True
QE_I13              True
QE_I15              True
QE_I17              True
QE_I18              True
QE_I22              True
QE_I23              True
QE_I27              True
QE_I38              True
QE_I61              True
QE_I62              True
QE_I65              True
dtype: bool

In [8]:
microdados2 = microdados.query('CO_GRUPO == 4004 | CO_GRUPO == 5809 | CO_GRUPO == 4005 | CO_GRUPO == 4006 | CO_GRUPO == 5809 | CO_GRUPO == 72 | CO_GRUPO == 79')

In [9]:
microdados2 = microdados2.loc[microdados2.NT_GER.notnull()]
microdados2 = microdados2.loc[microdados2.QE_I02.notnull()]
microdados2 = microdados2.loc[microdados2.QE_I13.notnull()]

In [10]:
microdados2 = microdados2.astype({'CO_CURSO':int})
microdados2 = microdados2.astype({'TP_SEXO':str})
microdados2 = microdados2.astype({'TP_PRES':int})
microdados2 = microdados2.astype({'NT_GER':float})
microdados2 = microdados2.astype({'QE_I01':str})
microdados2 = microdados2.astype({'QE_I02':str})
microdados2 = microdados2.astype({'QE_I04':str})
microdados2 = microdados2.astype({'QE_I05':str})
microdados2 = microdados2.astype({'QE_I06':str})
microdados2 = microdados2.astype({'QE_I07':str})
microdados2 = microdados2.astype({'QE_I08':str})
microdados2 = microdados2.astype({'QE_I13':str})
microdados2 = microdados2.astype({'QE_I15':str})
microdados2 = microdados2.astype({'QE_I17':str})
microdados2 = microdados2.astype({'QE_I18':str})
microdados2 = microdados2.astype({'QE_I38':str})
microdados2 = microdados2.astype({'QE_I61':str})
microdados2 = microdados2.astype({'QE_I62':str})
microdados2 = microdados2.astype({'QE_I65':str})
microdados2 = microdados2.astype({'QE_I27':str})

In [11]:
microdados2 = microdados2.query('TP_PRES == 555')

In [12]:
microdados2['CO_CATEGAD'].replace({93:'IES pública',116:'IES pública',10001:'IES pública',10002:'IES pública',10003:'IES pública'},inplace=True) #publica
microdados2['CO_CATEGAD'].replace({118:'IES privada',121:'IES privada',10004:'IES privada',10005:'IES privada',10006:'IES privada',10007:'IES privada',10008:'IES privada',10009:'IES privada'},inplace=True) #privada
microdados2 = microdados2.astype({'CO_CATEGAD':str})

In [13]:
estado_dict = {
11 : 'RO',12 : 'AC', 
13 : 'AM',14 : 'RR',
15 : 'PA',16 : 'AP',
17 : 'TO',21 : 'MA',
22 : 'PI',23 : 'CE',
24 : 'RN',25 : 'PB',
26 : 'PE',27 : 'AL',
28 : 'SE',29 : 'BA',
31 : 'MG',32 : 'ES',
33 : 'RJ',35 : 'SP',
41 : 'PR',42 : 'SC',
43 : 'RS',50 : 'MS',
51 : 'MT',52 : 'GO', 
53 : 'DF'
}

microdados2['CO_UF_CURSO'].replace(estado_dict,inplace=True)
microdados2 = microdados2.astype({'CO_UF_CURSO':str})

In [14]:
microdados2.loc[(microdados2['IN_MATUT'] + microdados2['IN_VESPER'] + microdados2['IN_NOTURNO']) > 1, 'periodo'] = 'I'
microdados2.loc[(microdados2['IN_MATUT'] + microdados2['IN_VESPER'] + microdados2['IN_NOTURNO']) == 1, 'periodo'] = None

In [15]:
microdados2['IN_MATUT'].replace({0:None,1:'M'},inplace=True)
microdados2['IN_VESPER'].replace({0:None,1:'V'},inplace=True)
microdados2['IN_NOTURNO'].replace({0:None,1:'N'},inplace=True)

In [16]:
microdados2['periodo'].fillna(microdados2['IN_VESPER'], inplace=True)
microdados2['periodo'].fillna(microdados2['IN_MATUT'], inplace=True)
microdados2['periodo'].fillna(microdados2['IN_NOTURNO'], inplace=True)

In [17]:
microdados2

,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_UF_CURSO,CO_REGIAO_CURSO,NU_IDADE,TP_SEXO,...,QE_I17,QE_I18,QE_I22,QE_I23,QE_I27,QE_I38,QE_I61,QE_I62,QE_I65,periodo
595,1,IES pública,10028,4004,36,1,MT,5,21,M,...,A,B,B,D,5.0,5.0,4.0,4.0,8.0,I
597,1,IES pública,10028,4004,36,1,MT,5,20,M,...,A,A,E,C,6.0,5.0,6.0,5.0,5.0,I
600,1,IES pública,10028,4004,36,1,MT,5,21,M,...,A,A,C,E,6.0,6.0,6.0,6.0,1.0,I
601,1,IES pública,10028,4004,36,1,MT,5,26,F,...,A,A,B,D,5.0,5.0,6.0,5.0,8.0,I
602,1,IES pública,10028,4004,36,1,MT,5,22,M,...,A,A,C,C,4.0,4.0,6.0,6.0,1.0,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
481708,47,IES pública,10028,4005,5001162,0,GO,5,31,F,...,A,C,B,B,2.0,2.0,2.0,2.0,2.0,I
481715,47,IES pública,10028,4005,5001162,0,GO,5,36,F,...,A,A,E,C,6.0,5.0,5.0,6.0,3.0,I
481716,47,IES pública,10028,4005,5001162,0,GO,5,32,M,...,A,A,B,A,5.0,5.0,5.0,6.0,5.0,I
481718,47,IES pública,10028,4005,5001162,0,GO,5,41,F,...,A,C,E,B,5.0,5.0,4.0,4.0,4.0,I
481719,47,IES pública,10028,4005,5001162,0,GO,5,31,M,...,A,A,C,E,6.0,6.0,6.0,6.0,6.0,I

In [18]:
microdados2.drop(columns=['IN_MATUT','IN_VESPER','IN_NOTURNO','TP_PRES'],inplace=True)

In [19]:
microdados2['QE_I08'].replace({'B':'A'},inplace=True) #ate 3 salarios
microdados2['QE_I08'].replace({'C':'B','D':'B','E':'B'},inplace=True) #3 a 10 salarios 
microdados2['QE_I08'].replace({'F':'C'},inplace=True) #10 a 30 salarios 
microdados2['QE_I08'].replace({'G':'D'},inplace=True) #mais de 30 salarios

In [20]:
microdados2['QE_I17'].replace({'D':'A'},inplace=True) #todo tempo ou maior parte pub
microdados2['QE_I17'].replace({'E':'B'},inplace=True) #todo tempo ou maior parte privada
microdados2['QE_I17'].replace({'F':'C'},inplace=True) #todo tempo ou maior parte exterior

In [21]:
microdados2['CO_ORGACAD'].replace({10028:'Universidade',10020:'Centro Universitário',10022:'Faculdade',10026:'I.F.E', 10019:'C.F.E.T'},inplace=True)

In [22]:
microdados2['QE_I10'].replace({'A':'Não','B':'Sim','C':'Sim','D':'Sim','E':'Sim'},inplace=True)

In [23]:
microdados2['QE_I22'].replace({'A':'0','B':'1/2','C':'3-5','D':'6-8','E':'8+'},inplace=True)

In [24]:
microdados2['QE_I23'].replace({'A':'0','B':'<3','C':'3-8','D':'8+','E':'8+'},inplace=True)

# Adição de novos valores: 

- QE_I01:
    - Estado cívil
- QE_I06:
    - Onde o aluno mora atualmente
- QE_I07:
    - Quantas pessoas moram com o aluno
- QE_I18:
    - Tipo de ensino médio que o aluno concluiu
- QE_I38: 
    - Plano de ensino dos professores
- QE_I61: 
    - Salas de aula adequadas para a quantidade de alunos
- QE_I62: 
    - Equipamento para as aulas praticas suficentes
- QE_I27: 
    - Avaliação da contribuição do curso

In [25]:
microdados2['QE_I01'].replace({'A':'Solteiro','B':'Casado','C':'Divorciado','D':'Viúvo','E':'Outro'},inplace=True)
microdados2['QE_I06'].replace({'A':'Sozinho','B':'Parentes','C':'Cônjuge/filhos','D':'Outras pessoas','E':'Universidade', 'F': 'Habitação individual/coletiva'},inplace=True)
microdados2['QE_I07'].replace({'A':'Nenhuma','B':'Uma','C':'Duas','D':'Três','E':'Quatro', 'F': 'Cinco', 'G': 'Seis', 'H': 'Mais de seis'},inplace=True)
microdados2['QE_I18'].replace({'A':'EM tradicional','B':'Profissionalizante técnico','C':'Profissionalizante magistério','D':'EJA/Supletivo', 'E': 'Outro'} ,inplace=True)
microdados2['QE_I38'].replace({'6':'Todos aspectos', '5': 'Maior parte', '4':'Maior parte','3': 'Somente alguns', '2':'Somente alguns', '1':'Nenhum', '7':'Nenhum', '8':'Não se aplica'} ,inplace=True)
microdados2['QE_I61'].replace({'6':'Todas', '5': 'Maior parte', '4':'Maior parte','3': 'Algumas', '2':'Algumas', '1':'Nenhuma', '7':'Nenhuma', '8':'Não se aplica'} ,inplace=True)
microdados2['QE_I62'].replace({'6':'Todas', '5': 'Maior parte', '4':'Maior parte','3': 'Algumas', '2':'Algumas', '1':'Nenhuma', '7':'Nenhuma', '8':'Não se aplica'} ,inplace=True)
microdados2['QE_I65'].replace({'6':'Todas', '5': 'Maior parte', '4':'Maior parte','3': 'Algumas', '2':'Algumas', '1':'Nenhuma', '7':'Nenhuma', '8':'Não se aplica'} ,inplace=True)
microdados2['QE_I27'].replace({'6':'Muito boa', '5':'Boa', '4':'Regular', '3': 'Regular', '2': 'Fraca', '1': 'Muito fraca', '7':'Muito fraca', '8':'Não se aplica'} ,inplace=True)

In [26]:
coluna_map = {
    'CO_CATEGAD':'categoria_adm',
    'CO_GRUPO':'grupo',
    'CO_CURSO':'curso',
    'CO_MODALIDADE':'ead_presencial',
    'CO_UF_CURSO':'uf',
    'CO_REGIAO_CURSO':'regiao',
    'NU_IDADE':'idade',
    'TP_SEXO':'sexo',
    'ANO_FIM_2G':'formatura_medio',
    'ANO_IN_GRAD':'inicio_graduacao',
    'NT_GER':'nota_geral',
    'NT_FG':'nota_formacao_geral',
    'NT_OBJ_FG':'nota_obj_formacao_geral',
    'NT_DIS_FG':'nota_disc_formacao_geral',
    'NT_CE':'nota_componente_especifico',
    'NT_OBJ_CE':'nota_obj_componente_especifico',
    'NT_DIS_CE':'nota_disc_componente_especifico',
    'QE_I01':'estado_civil',
    'QE_I02':'cor_raca',
    'QE_I04':'escolaridade_pai',
    'QE_I05':'escolaridade_mae',
    'QE_I06':'moradia',
    'QE_I07':'pessoas_moradia',
    'QE_I08':'renda_familiar',
    'QE_I13':'bolsa_academica',
    'QE_I15':'cotas',
    'QE_I17':'tipo_ensino_medio',
    'QE_I18': 'ensino_medio',
    'periodo':'turno',
    'CO_IES':'codigo_IES',
    'CO_ORGACAD':'organizacao_academica',
    'QE_I10':'trabalha',
    'QE_I22':'livros_ano',
    'QE_I23':'horas_estudo',
    'QE_I38':'plano_ensino',
    'QE_I61':'condicoes_salas_estudantes',
    'QE_I62':'condicoes_praticas_materiais',
    'QE_I65': 'condicoes_praticas_estudantes',
    'QE_I27':'avaliacao_curso'
}

In [27]:
microdados2.rename(columns=coluna_map,inplace=True)

In [28]:
microdados2['grupo'].replace({72: 'ADS', 79:'RC',5809: 'EC', 4004:'BCC',4005:'LCC',4006: 'SI'},inplace=True)
microdados2 = microdados2.astype({'grupo':str})

In [29]:
microdados2['cor_raca'].replace({'A':'Branca','B':'Preta','C':'Parda','D':'Amarela','E':'Indígena'},inplace=True)

In [30]:
microdados2['recebeu_cota'] = microdados2['cotas'].replace({'A':'Não','B':'Sim','C':'Sim','D':'Sim','E':'Sim','F':'Sim'})

In [31]:
microdados2['cotas'].replace({'A':'Não','B':'Étnico Racial','C':'Renda','D':'EM público','E':'2+','F':'Outro'},inplace=True)

In [32]:
microdados2['recebeu_bolsa'] = microdados2['bolsa_academica']
microdados2['recebeu_bolsa'].replace({'C':'B','D':'B','E':'B','F':'B'},inplace=True)
microdados2['recebeu_bolsa'].replace({'A':'Não','B':'Sim'},inplace=True)

In [33]:
microdados2['bolsa_academica'].replace({'A':'Nenhum','B':'IC','C':'Extensão','D':'Monitoria','E':'PET','F':'Outro'},inplace=True)

In [34]:
microdados2['renda_familiar'].replace({'A':'<3','B':'3-10','C':'10-30','D':'30+'},inplace=True)

In [35]:
microdados2['escolaridade_pai'].replace({'A':'Nenhuma','B':'1°-5° EF','C':'6°-9° EF','D':'Ensino Médio','E':'Graduação','F':'Pós-graduação'},inplace=True)
microdados2['escolaridade_mae'].replace({'A':'Nenhuma','B':'1°-5° EF','C':'6°-9° EF','D':'Ensino Médio','E':'Graduação','F':'Pós-graduação'},inplace=True)

In [36]:
bins = [17, 25, 30, 40, 50, 100]
labels = ['17-24', '25-29', '30-39', '40-49', '50+']
microdados2['range_idade'] = pd.cut(microdados2['idade'], bins, labels = labels,include_lowest = True)

In [37]:
microdados2['ead_presencial'].replace({0:'EAD',1:'Presencial'},inplace=True)
microdados2 = microdados2.astype({'ead_presencial':str})

In [38]:
microdados2['regiao'].replace({1:'N',2:'NE',3:'SE',4:'S',5:'CO'},inplace=True)
microdados2 = microdados2.astype({'regiao':str})

In [39]:
microdados2.drop(columns=['CO_RS_I9'],inplace=True)

In [40]:
microdados2.rename(columns={'grupo':'nome_curso'},inplace=True)

In [41]:
microdados2['tipo_ensino_medio'].replace({'A':'Pública','B':'Particular','C':'Exterior'},inplace=True)

In [42]:
microdados2.isna().any()

codigo_IES                         False
categoria_adm                      False
organizacao_academica              False
nome_curso                         False
curso                              False
ead_presencial                     False
uf                                 False
regiao                             False
idade                              False
sexo                               False
formatura_medio                    False
inicio_graduacao                   False
nota_geral                         False
nota_formacao_geral                False
nota_obj_formacao_geral            False
nota_disc_formacao_geral           False
nota_componente_especifico         False
nota_obj_componente_especifico     False
nota_disc_componente_especifico    False
estado_civil                       False
cor_raca                           False
escolaridade_pai                   False
escolaridade_mae                   False
moradia                            False
pessoas_moradia                    False
renda_familiar                     False
trabalha                           False
bolsa_academica                    False
cotas                              False
tipo_ensino_medio                  False
ensino_medio                       False
livros_ano                         False
horas_estudo                       False
avaliacao_curso                    False
plano_ensino                       False
condicoes_salas_estudantes         False
condicoes_praticas_materiais       False
condicoes_praticas_estudantes      False
turno                              False
recebeu_cota                       False
recebeu_bolsa                      False
range_idade                        False
dtype: bool

In [43]:
microdados2[microdados2.range_idade.isnull()]

Empty DataFrame
Columns: [codigo_IES, categoria_adm, organizacao_academica, nome_curso, curso, ead_presencial, uf, regiao, idade, sexo, formatura_medio, inicio_graduacao, nota_geral, nota_formacao_geral, nota_obj_formacao_geral, nota_disc_formacao_geral, nota_componente_especifico, nota_obj_componente_especifico, nota_disc_componente_especifico, estado_civil, cor_raca, escolaridade_pai, escolaridade_mae, moradia, pessoas_moradia, renda_familiar, trabalha, bolsa_academica, cotas, tipo_ensino_medio, ensino_medio, livros_ano, horas_estudo, avaliacao_curso, plano_ensino, condicoes_salas_estudantes, condicoes_praticas_materiais, condicoes_praticas_estudantes, turno, recebeu_cota, recebeu_bolsa, range_idade]
Index: []

[0 rows x 42 columns]

In [44]:
microdados2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40785 entries, 595 to 481719
Data columns (total 42 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   codigo_IES                       40785 non-null  object
 1   categoria_adm                    40785 non-null  object
 2   organizacao_academica            40785 non-null  object
 3   nome_curso                       40785 non-null  object
 4   curso                            40785 non-null  int64
 5   ead_presencial                   40785 non-null  object
 6   uf                               40785 non-null  object
 7   regiao                           40785 non-null  object
 8   idade                            40785 non-null  int64
 9   sexo                             40785 non-null  object
 10  formatura_medio                  40785 non-null  int64
 11  inicio_graduacao                 40785 non-null  int64
 12  nota_geral                       40785 non-null  float64
 13  nota_formacao_geral              40785 non-null  object
 14  nota_obj_formacao_geral          40785 non-null  object
 15  nota_disc_formacao_geral         40785 non-null  object
 16  nota_componente_especifico       40785 non-null  object
 17  nota_obj_componente_especifico   40785 non-null  object
 18  nota_disc_componente_especifico  40785 non-null  object
 19  estado_civil                     40785 non-null  object
 20  cor_raca                         40785 non-null  object
 21  escolaridade_pai                 40785 non-null  object
 22  escolaridade_mae                 40785 non-null  object
 23  moradia                          40785 non-null  object
 24  pessoas_moradia                  40785 non-null  object
 25  renda_familiar                   40785 non-null  object
 26  trabalha                         40785 non-null  object
 27  bolsa_academica                  40785 non-null  object
 28  cotas                            40785 non-null  object
 29  tipo_ensino_medio                40785 non-null  object
 30  ensino_medio                     40785 non-null  object
 31  livros_ano                       40785 non-null  object
 32  horas_estudo                     40785 non-null  object
 33  avaliacao_curso                  40785 non-null  object
 34  plano_ensino                     40785 non-null  object
 35  condicoes_salas_estudantes       40785 non-null  object
 36  condicoes_praticas_materiais     40785 non-null  object
 37  condicoes_praticas_estudantes    40785 non-null  object
 38  turno                            40785 non-null  object
 39  recebeu_cota                     40785 non-null  object
 40  recebeu_bolsa                    40785 non-null  object
 41  range_idade                      40785 non-null  category
dtypes: category(1), float64(1), int64(4), object(36)
memory usage: 13.1+ MB

In [45]:
microdados2.to_csv('./{}.csv'.format('computacao_enade_2014'),index=False)