In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelBinarizer

In [2]:
colunas = ['categoria_adm_IES', 'organizacao_academica', 'nome_curso', 'turno', 'regiao', 'uf',
       'range_idade', 'range_idade_comeco_graduacao', 'range_tempo_ocioso', 'tempo_cursado', 'recebeu_cota', 
       'ensino_medio', 'tipo_ensino_medio', 'escolaridade_pai', 'escolaridade_mae',
       'estado_civil', 'cor_raca', 'sexo', 'moradia', 'pessoas_moradia',
       'trabalha', 'renda_familiar', 'livros_ano', 'horas_estudo',
       'condicoes_salas_estudantes', 'condicoes_praticas_materiais',
       'plano_ensino', 'avaliacao_curso', 'nota_geral_normalizada']

In [3]:
enade_df = pd.read_csv('enade_merge_08-11-14-17.csv',sep=',',decimal='.', usecols=colunas)

In [4]:
enade_df

,categoria_adm_IES,organizacao_academica,nome_curso,turno,regiao,uf,range_idade,range_idade_comeco_graduacao,range_tempo_ocioso,tempo_cursado,...,recebeu_cota,escolaridade_pai,escolaridade_mae,livros_ano,horas_estudo,condicoes_salas_estudantes,condicoes_praticas_materiais,plano_ensino,avaliacao_curso,nota_geral_normalizada
0,IES pública,C.F.E.T,RC,Noturno,SE,ES,20-23,17-21,0-3,4,...,Não,Ensino Fundamental,Ensino Fundamental,0,8+,Todas,Todas,Todos aspectos,Muito boa,0.20
1,IES privada,Faculdade,SI,Noturno,NE,PB,20-23,17-21,0-3,4,...,Sim,Ensino Fundamental,Ensino Fundamental,3-5,3-8,Todas,Todas,Maior parte,Boa,0.23
2,IES pública,C.F.E.T,RC,Diurno,SE,ES,24-27,17-21,0-3,4,...,Não,Ensino Médio,Ensino Fundamental,3-5,3-8,Maior parte,Maior parte,Todos aspectos,Muito boa,0.75
3,IES pública,C.F.E.T,RC,Diurno,SE,ES,20-23,17-21,0-3,3,...,Não,Nenhuma,Ensino Médio,3-5,8+,Maior parte,Maior parte,Nenhum,Muito boa,0.28
4,IES privada,Centro Universitário,SI,Noturno,SE,MG,20-23,17-21,0-3,3,...,Não,Ensino Fundamental,Ensino Médio,0,3-8,Todas,Todas,Todos aspectos,Boa,0.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64149,IES privada,Centro Universitário,ADS,Noturno,NE,BA,20-23,17-21,0-3,4,...,Não,Ensino Médio,Ensino Médio,0,3-8,Maior parte,Maior parte,Nenhum,Muito boa,0.37
64150,IES privada,Centro Universitário,ADS,Noturno,NE,BA,20-23,17-21,0-3,4,...,Não,Ensino Médio,Ensino Médio,0,<3,Maior parte,Maior parte,Maior parte,Regular,0.48
64151,IES privada,Centro Universitário,ADS,Noturno,NE,BA,20-23,17-21,0-3,4,...,Não,Ensino Médio,Ensino Superior,3-5,8+,Todas,Todas,Todos aspectos,Muito boa,0.12
64152,IES privada,Centro Universitário,RC,Noturno,NE,BA,32-35,26-29,7-9,4,...,Não,Ensino Médio,Ensino Superior,1/2,<3,Maior parte,Maior parte,Todos aspectos,Boa,0.13
64153,IES privada,Centro Universitário,RC,Noturno,NE,BA,20-23,17-21,0-3,3,...,Não,Ensino Superior,Ensino Médio,1/2,<3,Maior parte,Maior parte,Maior parte,Regular,0.25

In [5]:
#achando valores para kflod cross validation
for i in range(1,64151):
    if 64150%i ==0 :
        print(i)

1
2
5
10
25
50
1283
2566
6415
12830
32075
64150

### Normalização

https://medium.com/tentando-ser-um-unic%C3%B3rnio/porqu%C3%AA-e-quando-%C3%A9-necess%C3%A1rio-normalizar-os-dados-92e5cce445aa

### Colunas removidas

As colunas removidas foram
- codigo_IES
- formatura
- inicio graduacao
- idade
- ano
- curso 
- cota
- ead_presencial

In [6]:
colunas_categoricas = ['categoria_adm_IES', 'organizacao_academica', 'nome_curso', 'turno', 'regiao', 'uf',
       'range_idade', 'range_idade_comeco_graduacao', 'range_tempo_ocioso', 'tempo_cursado', 'recebeu_cota', 
       'ensino_medio', 'tipo_ensino_medio', 'escolaridade_pai', 'escolaridade_mae',
       'estado_civil', 'cor_raca', 'sexo', 'moradia', 'pessoas_moradia',
       'trabalha', 'renda_familiar', 'livros_ano', 'horas_estudo',
       'condicoes_salas_estudantes', 'condicoes_praticas_materiais',
       'plano_ensino', 'avaliacao_curso']

In [7]:
copia_df = enade_df.loc[:, enade_df.columns != 'nota_geral_normalizada'].copy()

In [8]:
copia_df

,categoria_adm_IES,organizacao_academica,nome_curso,turno,regiao,uf,range_idade,range_idade_comeco_graduacao,range_tempo_ocioso,tempo_cursado,...,renda_familiar,recebeu_cota,escolaridade_pai,escolaridade_mae,livros_ano,horas_estudo,condicoes_salas_estudantes,condicoes_praticas_materiais,plano_ensino,avaliacao_curso
0,IES pública,C.F.E.T,RC,Noturno,SE,ES,20-23,17-21,0-3,4,...,3-10,Não,Ensino Fundamental,Ensino Fundamental,0,8+,Todas,Todas,Todos aspectos,Muito boa
1,IES privada,Faculdade,SI,Noturno,NE,PB,20-23,17-21,0-3,4,...,3-10,Sim,Ensino Fundamental,Ensino Fundamental,3-5,3-8,Todas,Todas,Maior parte,Boa
2,IES pública,C.F.E.T,RC,Diurno,SE,ES,24-27,17-21,0-3,4,...,3-10,Não,Ensino Médio,Ensino Fundamental,3-5,3-8,Maior parte,Maior parte,Todos aspectos,Muito boa
3,IES pública,C.F.E.T,RC,Diurno,SE,ES,20-23,17-21,0-3,3,...,<3,Não,Nenhuma,Ensino Médio,3-5,8+,Maior parte,Maior parte,Nenhum,Muito boa
4,IES privada,Centro Universitário,SI,Noturno,SE,MG,20-23,17-21,0-3,3,...,3-10,Não,Ensino Fundamental,Ensino Médio,0,3-8,Todas,Todas,Todos aspectos,Boa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64149,IES privada,Centro Universitário,ADS,Noturno,NE,BA,20-23,17-21,0-3,4,...,<3,Não,Ensino Médio,Ensino Médio,0,3-8,Maior parte,Maior parte,Nenhum,Muito boa
64150,IES privada,Centro Universitário,ADS,Noturno,NE,BA,20-23,17-21,0-3,4,...,3-10,Não,Ensino Médio,Ensino Médio,0,<3,Maior parte,Maior parte,Maior parte,Regular
64151,IES privada,Centro Universitário,ADS,Noturno,NE,BA,20-23,17-21,0-3,4,...,<3,Não,Ensino Médio,Ensino Superior,3-5,8+,Todas,Todas,Todos aspectos,Muito boa
64152,IES privada,Centro Universitário,RC,Noturno,NE,BA,32-35,26-29,7-9,4,...,3-10,Não,Ensino Médio,Ensino Superior,1/2,<3,Maior parte,Maior parte,Todos aspectos,Boa
64153,IES privada,Centro Universitário,RC,Noturno,NE,BA,20-23,17-21,0-3,3,...,3-10,Não,Ensino Superior,Ensino Médio,1/2,<3,Maior parte,Maior parte,Maior parte,Regular

In [9]:
coluna_nt_geral = enade_df['nota_geral_normalizada'].copy()

### Label encoder
transformar categorias em variavel númérica

In [10]:
translate_df = {}

In [11]:
label_encoder = LabelEncoder()

#transformando categoria de cada coluna em numeros
for i in colunas_categoricas:
    copia_df[i] = label_encoder.fit_transform(copia_df[i])
    translate_df[i] = list(label_encoder.classes_)

In [12]:
copia_df

,categoria_adm_IES,organizacao_academica,nome_curso,turno,regiao,uf,range_idade,range_idade_comeco_graduacao,range_tempo_ocioso,tempo_cursado,...,renda_familiar,recebeu_cota,escolaridade_pai,escolaridade_mae,livros_ano,horas_estudo,condicoes_salas_estudantes,condicoes_praticas_materiais,plano_ensino,avaliacao_curso
0,1,0,5,2,4,7,0,0,0,1,...,1,0,0,0,0,2,4,4,4,2
1,0,2,6,2,2,14,0,0,0,1,...,1,1,0,0,2,1,4,4,0,0
2,1,0,5,0,4,7,1,0,0,1,...,1,0,1,0,2,1,1,1,4,2
3,1,0,5,0,4,7,0,0,0,0,...,3,0,3,1,2,2,1,1,1,2
4,0,1,6,2,4,10,0,0,0,0,...,1,0,0,1,0,1,4,4,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64149,0,1,0,2,2,4,0,0,0,1,...,3,0,1,1,0,1,1,1,1,2
64150,0,1,0,2,2,4,0,0,0,1,...,1,0,1,1,0,3,1,1,0,5
64151,0,1,0,2,2,4,0,0,0,1,...,3,0,1,2,2,2,4,4,4,2
64152,0,1,5,2,2,4,3,2,3,1,...,1,0,1,2,1,3,1,1,4,0
64153,0,1,5,2,2,4,0,0,0,0,...,1,0,2,1,1,3,1,1,0,5

### One Hot Encoding
transformar variaveis núméricas em colunas de valores binarios

https://stackabuse.com/one-hot-encoding-in-python-with-pandas-and-scikit-learn/

https://arthurlambletvaz.medium.com/one-hot-encoding-o-que-%C3%A9-cd2e8d302ae0

https://minerandodados.com.br/one-hot-encoding-como-funciona-python/

https://stackify.dev/928474-scikit-learns-labelbinarizer-vs-onehotencoder

https://stackoverflow.com/questions/58101126/using-scikit-learn-onehotencoder-with-a-pandas-dataframe#:~:text=OneHotEncoder%20Encodes%20categorical%20integer%20features,matrix)%20into%20a%20Pandas%20Series.

https://nelson-ewert-oliveira.medium.com/um-guia-simples-de-como-tratar-vari%C3%A1veis-categ%C3%B3ricas-em-machine-learning-b791a00da805

https://docs.microsoft.com/pt-br/azure/architecture/data-science-process/spark-model-consumption

In [13]:
newdf = pd.DataFrame()

In [14]:
#todas colunas que não são algo numerico, que represente quantidade, sequencia / ordinal ou escala

colunas_onehot = ['categoria_adm_IES', 'organizacao_academica', 'nome_curso', 'turno', 'regiao', 'uf', 'ensino_medio', 'tipo_ensino_medio', 'escolaridade_pai', 'escolaridade_mae',
       'estado_civil', 'cor_raca', 'sexo', 'moradia', 'trabalha', 'condicoes_salas_estudantes', 'condicoes_praticas_materiais',
       'plano_ensino']

In [15]:
encoder = LabelBinarizer()

for i in colunas_onehot:
    encoder.fit(copia_df[i])
    transformed = encoder.transform(copia_df[i]) #transformando uma coluna em varias
    ohe_df = pd.DataFrame(transformed) #salvando as novas colunas como dataframe
    ohe_df.rename(columns=lambda x: i+'_'+ str(translate_df[i][x]) , inplace=True) #renomeando as colunas para ter o nome da coluna antiga mais a categoria, ex: nome_curso_BCC
    newdf = pd.concat([newdf, ohe_df], axis=1) #inserindo em um outro dataframe que conterá todas novas colunas após o one-hot encode

In [16]:
colunas_faltantes =  list(set(colunas_categoricas).difference(set(colunas_onehot)))
colunas_faltantes

['range_idade_comeco_graduacao',
 'renda_familiar',
 'recebeu_cota',
 'horas_estudo',
 'livros_ano',
 'tempo_cursado',
 'avaliacao_curso',
 'range_tempo_ocioso',
 'pessoas_moradia',
 'range_idade']

In [17]:
# inserindo as colunas que não passaram pelo one-hot encode
for i in colunas_faltantes:
    newdf[i] = copia_df[i]

In [18]:
newdf

,categoria_adm_IES_IES privada,organizacao_academica_C.F.E.T,organizacao_academica_Centro Universitário,organizacao_academica_Faculdade,organizacao_academica_I.F.E,organizacao_academica_Instituto Superior,organizacao_academica_Universidade,nome_curso_ADS,nome_curso_BCC,nome_curso_EC,...,range_idade_comeco_graduacao,renda_familiar,recebeu_cota,horas_estudo,livros_ano,tempo_cursado,avaliacao_curso,range_tempo_ocioso,pessoas_moradia,range_idade
0,1,1,0,0,0,0,0,0,0,0,...,0,1,0,2,0,1,2,0,6,0
1,0,0,0,1,0,0,0,0,0,0,...,0,1,1,1,2,1,0,0,6,0
2,1,1,0,0,0,0,0,0,0,0,...,0,1,0,1,2,1,2,0,6,1
3,1,1,0,0,0,0,0,0,0,0,...,0,3,0,2,2,0,2,0,7,0
4,0,0,1,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64149,0,0,1,0,0,0,0,1,0,0,...,0,3,0,1,0,1,2,0,0,0
64150,0,0,1,0,0,0,0,1,0,0,...,0,1,0,3,0,1,5,0,1,0
64151,0,0,1,0,0,0,0,1,0,0,...,0,3,0,2,2,1,2,0,1,0
64152,0,0,1,0,0,0,0,0,0,0,...,2,1,0,3,1,1,0,3,7,3
64153,0,0,1,0,0,0,0,0,0,0,...,0,1,0,3,1,0,5,0,0,0

In [19]:
# inserindo a coluna nota_geral no novo dataframe
newdf = pd.concat([newdf, coluna_nt_geral], axis=1)

In [20]:
newdf.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64154 entries, 0 to 64153
Data columns (total 109 columns):
 #    Column                                      Dtype
---   ------                                      -----
 0    categoria_adm_IES_IES privada               int64
 1    organizacao_academica_C.F.E.T               int64
 2    organizacao_academica_Centro Universitário  int64
 3    organizacao_academica_Faculdade             int64
 4    organizacao_academica_I.F.E                 int64
 5    organizacao_academica_Instituto Superior    int64
 6    organizacao_academica_Universidade          int64
 7    nome_curso_ADS                              int64
 8    nome_curso_BCC                              int64
 9    nome_curso_EC                               int64
 10   nome_curso_GTI                              int64
 11   nome_curso_LCC                              int64
 12   nome_curso_RC                               int64
 13   nome_curso_SI                               int64
 14   turno_Diurno                                int64
 15   turno_Integral                              int64
 16   turno_Noturno                               int64
 17   regiao_CO                                   int64
 18   regiao_N                                    int64
 19   regiao_NE                                   int64
 20   regiao_S                                    int64
 21   regiao_SE                                   int64
 22   uf_AC                                       int64
 23   uf_AL                                       int64
 24   uf_AM                                       int64
 25   uf_AP                                       int64
 26   uf_BA                                       int64
 27   uf_CE                                       int64
 28   uf_DF                                       int64
 29   uf_ES                                       int64
 30   uf_GO                                       int64
 31   uf_MA                                       int64
 32   uf_MG                                       int64
 33   uf_MS                                       int64
 34   uf_MT                                       int64
 35   uf_PA                                       int64
 36   uf_PB                                       int64
 37   uf_PE                                       int64
 38   uf_PI                                       int64
 39   uf_PR                                       int64
 40   uf_RJ                                       int64
 41   uf_RN                                       int64
 42   uf_RO                                       int64
 43   uf_RR                                       int64
 44   uf_RS                                       int64
 45   uf_SC                                       int64
 46   uf_SE                                       int64
 47   uf_SP                                       int64
 48   uf_TO                                       int64
 49   ensino_medio_EJA/Supletivo                  int64
 50   ensino_medio_EM tradicional                 int64
 51   ensino_medio_Outro                          int64
 52   ensino_medio_Profissionalizante magistério  int64
 53   ensino_medio_Profissionalizante técnico     int64
 54   tipo_ensino_medio_Exterior                  int64
 55   tipo_ensino_medio_Particular                int64
 56   tipo_ensino_medio_Pública                   int64
 57   escolaridade_pai_Ensino Fundamental         int64
 58   escolaridade_pai_Ensino Médio               int64
 59   escolaridade_pai_Ensino Superior            int64
 60   escolaridade_pai_Nenhuma                    int64
 61   escolaridade_mae_Ensino Fundamental         int64
 62   escolaridade_mae_Ensino Médio               int64
 63   escolaridade_mae_Ensino Superior            int64
 64   escolaridade_mae_Nenhuma                    int64
 65   estado_civil_Casado                         int64
 66   estado_civil_Divorciado                     int64
 67   estado_civil_Outro                          int64
 68   estado_civil_Solteiro                       int64
 69   estado_civil_Viúvo                          int64
 70   cor_raca_Amarela                            int64
 71   cor_raca_Branca                             int64
 72   cor_raca_Indígena                           int64
 73   cor_raca_Parda                              int64
 74   cor_raca_Preta                              int64
 75   sexo_F                                      int64
 76   moradia_Cônjuge/filhos                      int64
 77   moradia_Habitação individual/coletiva       int64
 78   moradia_Outras pessoas                      int64
 79   moradia_Parentes                            int64
 80   moradia_Sozinho                             int64
 81   moradia_Universidade                        int64
 82   trabalha_Não                                int64
 83   condicoes_salas_estudantes_Algumas          int64
 84   condicoes_salas_estudantes_Maior parte      int64
 85   condicoes_salas_estudantes_Nenhuma          int64
 86   condicoes_salas_estudantes_Não se aplica    int64
 87   condicoes_salas_estudantes_Todas            int64
 88   condicoes_praticas_materiais_Algumas        int64
 89   condicoes_praticas_materiais_Maior parte    int64
 90   condicoes_praticas_materiais_Nenhuma        int64
 91   condicoes_praticas_materiais_Não se aplica  int64
 92   condicoes_praticas_materiais_Todas          int64
 93   plano_ensino_Maior parte                    int64
 94   plano_ensino_Nenhum                         int64
 95   plano_ensino_Não se aplica                  int64
 96   plano_ensino_Somente alguns                 int64
 97   plano_ensino_Todos aspectos                 int64
 98   range_idade_comeco_graduacao                int64
 99   renda_familiar                              int64
 100  recebeu_cota                                int64
 101  horas_estudo                                int64
 102  livros_ano                                  int64
 103  tempo_cursado                               int64
 104  avaliacao_curso                             int64
 105  range_tempo_ocioso                          int64
 106  pessoas_moradia                             int64
 107  range_idade                                 int64
 108  nota_geral_normalizada                      float64
dtypes: float64(1), int64(108)
memory usage: 53.4 MB

In [21]:
newdf = newdf.astype({'range_idade':int, 'horas_estudo':int,'avaliacao_curso':int,'recebeu_cota':int,'range_idade_comeco_graduacao':int,'pessoas_moradia':int,
                                   'livros_ano':int,'renda_familiar':int,'renda_familiar':int,})

In [22]:
newdf

,categoria_adm_IES_IES privada,organizacao_academica_C.F.E.T,organizacao_academica_Centro Universitário,organizacao_academica_Faculdade,organizacao_academica_I.F.E,organizacao_academica_Instituto Superior,organizacao_academica_Universidade,nome_curso_ADS,nome_curso_BCC,nome_curso_EC,...,renda_familiar,recebeu_cota,horas_estudo,livros_ano,tempo_cursado,avaliacao_curso,range_tempo_ocioso,pessoas_moradia,range_idade,nota_geral_normalizada
0,1,1,0,0,0,0,0,0,0,0,...,1,0,2,0,1,2,0,6,0,0.20
1,0,0,0,1,0,0,0,0,0,0,...,1,1,1,2,1,0,0,6,0,0.23
2,1,1,0,0,0,0,0,0,0,0,...,1,0,1,2,1,2,0,6,1,0.75
3,1,1,0,0,0,0,0,0,0,0,...,3,0,2,2,0,2,0,7,0,0.28
4,0,0,1,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,7,0,0.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64149,0,0,1,0,0,0,0,1,0,0,...,3,0,1,0,1,2,0,0,0,0.37
64150,0,0,1,0,0,0,0,1,0,0,...,1,0,3,0,1,5,0,1,0,0.48
64151,0,0,1,0,0,0,0,1,0,0,...,3,0,2,2,1,2,0,1,0,0.12
64152,0,0,1,0,0,0,0,0,0,0,...,1,0,3,1,1,0,3,7,3,0.13
64153,0,0,1,0,0,0,0,0,0,0,...,1,0,3,1,0,5,0,0,0,0.25

In [23]:
newdf.to_csv('./{}.csv'.format('enade_onehot'),index=False,float_format='%.3f')