In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelBinarizer

In [2]:
enade_df = pd.read_csv('enade_merge_08-11-14-17.csv',sep=',',decimal='.')

In [3]:
enade_df

,ano,curso,nome_curso,uf,regiao,codigo_IES,categoria_adm_IES,organizacao_academica,turno,ead_presencial,...,moradia,pessoas_moradia,ensino_medio,condicoes_salas_estudantes,condicoes_praticas_materiais,plano_ensino,avaliacao_curso,idade_comeco_graduacao,tempo_ocioso,tempo_cursado
0,2008,56172,SI,BA,NE,385,IES privada,Universidade,Noturno,Não-Informado,...,Parentes,Uma,Outro,Todas,Todas,Nenhum,Boa,18,1,6
1,2008,8913,SI,RS,S,426,IES privada,Centro Universitário,Noturno,Não-Informado,...,Parentes,Uma,Outro,Maior parte,Maior parte,Maior parte,Boa,20,4,4
2,2008,10978,SI,RS,S,532,IES privada,Universidade,Noturno,Não-Informado,...,Outras pessoas,Nenhuma,Outro,Maior parte,Maior parte,Maior parte,Regular,25,6,2
3,2008,20469,SI,PR,S,197,IES privada,Faculdade,Noturno,Não-Informado,...,Parentes,Nenhuma,Outro,Nenhuma,Nenhuma,Nenhum,Muito fraca,21,5,3
4,2008,47985,ADS,SP,SE,1743,IES privada,Faculdade,Noturno,Não-Informado,...,Parentes,Uma,Outro,Algumas,Algumas,Somente alguns,Muito boa,18,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132577,2017,5001211,ADS,SC,S,3295,IES privada,Faculdade,Diurno,Presencial,...,Parentes,Quatro,EM tradicional,Todas,Todas,Maior parte,Muito boa,18,1,2
132578,2017,5001211,ADS,SC,S,3295,IES privada,Faculdade,Diurno,Presencial,...,Sozinho,Nenhuma,EM tradicional,Maior parte,Maior parte,Somente alguns,Regular,23,5,2
132579,2017,5001211,ADS,SC,S,3295,IES privada,Faculdade,Diurno,Presencial,...,Parentes,Três,EM tradicional,Todas,Todas,Somente alguns,Regular,34,9,1
132580,2017,5001284,LCC,SC,S,494,IES privada,Universidade,Integral,EAD,...,Parentes,Três,EM tradicional,Nenhuma,Todas,Todos aspectos,Muito boa,23,6,2
132581,2017,5001284,LCC,SC,S,494,IES privada,Universidade,Integral,EAD,...,Sozinho,Uma,EM tradicional,Todas,Todas,Todos aspectos,Muito boa,32,15,2

### Normalização

https://medium.com/tentando-ser-um-unic%C3%B3rnio/porqu%C3%AA-e-quando-%C3%A9-necess%C3%A1rio-normalizar-os-dados-92e5cce445aa

In [4]:
coluna_nt_geral = enade_df[['nota_geral']]

In [5]:
notas = ['nota_geral', 'nota_formacao_geral', 'nota_obj_formacao_geral', 'nota_dis_formacao_geral', 'nota_componente_especifico', 'nota_obj_componente_especifico',
        'nota_dis_componente_especifico']

In [6]:
cursos = list(enade_df['nome_curso'].unique())
cursos

['SI', 'ADS', 'EC', 'BCC', 'RC', 'LCC', 'GTI']

In [7]:
anos = list(enade_df['ano'].unique())
anos

[2008, 2011, 2014, 2017]

In [8]:
for i in anos:
    for j in cursos:
        df = enade_df['nota_geral'].loc[(enade_df.ano == i) & (enade_df.nome_curso == j)]
        df = ((df - df.min())/(df.max() - df.min()))
        enade_df['nota_geral'].loc[(enade_df.ano == i) & (enade_df.nome_curso == j)] = df
        # enade_df.loc[n, (enade_df.ano == i) & (enade_df.nome_curso == j)] = df

/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/home/luiscapelari/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [9]:
enade_df.groupby(['nome_curso','ano'])['nota_geral'].describe()

                   count      mean       std  min       25%       50%  \
nome_curso ano
ADS        2008   3852.0  0.468703  0.138097  0.0  0.375143  0.464082
           2011   7265.0  0.457313  0.174755  0.0  0.332955  0.442045
           2014  11110.0  0.441980  0.144626  0.0  0.339891  0.433880
           2017   9636.0  0.444109  0.142242  0.0  0.343267  0.437086
BCC        2008   4447.0  0.412115  0.143290  0.0  0.310983  0.391908
           2011   9670.0  0.398723  0.154242  0.0  0.294046  0.385176
           2014   8263.0  0.462295  0.142893  0.0  0.362123  0.454735
           2017   8408.0  0.455569  0.143285  0.0  0.355415  0.444795
EC         2008    387.0  0.490109  0.162305  0.0  0.376820  0.468447
           2011   1929.0  0.424970  0.141891  0.0  0.332180  0.416378
           2014   2543.0  0.490589  0.164746  0.0  0.388060  0.495736
           2017   3415.0  0.472195  0.146339  0.0  0.370062  0.461538
GTI        2017   3203.0  0.518427  0.152599  0.0  0.413440  0.519362
LCC        2011    694.0  0.482404  0.154187  0.0  0.373333  0.472593
           2014   1778.0  0.567280  0.169553  0.0  0.448167  0.577320
           2017   1080.0  0.512272  0.166846  0.0  0.389447  0.513191
RC         2008   2179.0  0.440938  0.150765  0.0  0.336854  0.424883
           2011   3415.0  0.412303  0.135086  0.0  0.320442  0.403315
           2014   3851.0  0.460843  0.144313  0.0  0.357220  0.452769
           2017   2480.0  0.441687  0.151648  0.0  0.331152  0.434555
SI         2008   7601.0  0.465462  0.135735  0.0  0.373199  0.463977
           2011  10246.0  0.402347  0.134630  0.0  0.311081  0.399199
           2014  13238.0  0.493303  0.145242  0.0  0.389140  0.489819
           2017  11892.0  0.512562  0.150659  0.0  0.406644  0.510882

                      75%  max
nome_curso ano
ADS        2008  0.559863  1.0
           2011  0.575000  1.0
           2014  0.537705  1.0
           2017  0.540839  1.0
BCC        2008  0.491329  1.0
           2011  0.492102  1.0
           2014  0.556712  1.0
           2017  0.552050  1.0
EC         2008  0.575850  1.0
           2011  0.507497  1.0
           2014  0.600213  1.0
           2017  0.568087  1.0
GTI        2017  0.623007  1.0
LCC        2011  0.579259  1.0
           2014  0.690722  1.0
           2017  0.630967  1.0
RC         2008  0.534624  1.0
           2011  0.497238  1.0
           2014  0.554832  1.0
           2017  0.540576  1.0
SI         2008  0.554755  1.0
           2011  0.488652  1.0
           2014  0.596154  1.0
           2017  0.616266  1.0

### Colunas removidas

As colunas removidas foram
- codigo_IES
- formatura
- inicio graduacao
- idade

In [10]:
colunas_categoricas = ['ano','curso','nome_curso','uf', 'regiao', 'categoria_adm_IES', 'organizacao_academica', 'turno', 'ead_presencial', 
                       'tipo_ensino_medio', 'range_idade', 'sexo', 'cor_raca', 'escolaridade_pai', 'escolaridade_mae', 
                       'renda_familiar', 'cotas', 'recebeu_cota', 'bolsa_academica', 'recebeu_bolsa', 'trabalha', 'livros_ano',
                       'horas_estudo', 'estado_civil', 'moradia', 'pessoas_moradia', 'ensino_medio', 'condicoes_salas_estudantes',
                       'condicoes_praticas_materiais', 'plano_ensino', 'avaliacao_curso', 'idade_comeco_graduacao', 'tempo_ocioso', 'tempo_cursado']

In [11]:
copia_df = enade_df.copy()

In [12]:
# deixar o dataset apenas com colunas que podem passar por one-hot encode

colunas_df = list(enade_df.columns)
for i in colunas_df:
    if i not in colunas_categoricas:
        enade_df.drop(columns=i, inplace=True)

### Label encoder
transformar categorias em variavel númérica

In [13]:
translate_df = {}

In [14]:
bins = [0.0, 20.0, 40.0, 60.0, 80.0, 100.0]
labels = ['Muito baixa', 'Baixa', 'Média', 'Alta', 'Muito alta']
enade_df['nt_geral_categoria'] = pd.cut(coluna_nt_geral['nota_geral'], bins, labels = labels,include_lowest = True)

In [15]:
colunas_categoricas.append('nt_geral_categoria')

In [16]:
label_encoder = LabelEncoder()

for i in colunas_categoricas:
    enade_df[i] = label_encoder.fit_transform(enade_df[i])
    translate_df[i] = list(label_encoder.classes_)

In [17]:
enade_df

,ano,curso,nome_curso,uf,regiao,categoria_adm_IES,organizacao_academica,turno,ead_presencial,tipo_ensino_medio,...,pessoas_moradia,ensino_medio,condicoes_salas_estudantes,condicoes_praticas_materiais,plano_ensino,avaliacao_curso,idade_comeco_graduacao,tempo_ocioso,tempo_cursado,nt_geral_categoria
0,0,680,6,4,2,0,5,2,1,1,...,9,3,6,6,1,0,4,1,6,3
1,0,92,6,22,3,0,1,2,1,1,...,9,3,1,1,0,0,6,4,4,4
2,0,117,6,22,3,0,5,2,1,1,...,3,3,1,1,0,7,11,6,2,4
3,0,312,6,17,3,0,2,2,1,1,...,3,3,2,2,1,3,7,5,3,1
4,0,499,0,25,4,0,2,2,1,1,...,9,3,0,0,5,2,4,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132577,3,2301,0,23,3,0,2,0,2,3,...,6,1,6,6,0,2,4,1,2,4
132578,3,2301,0,23,3,0,2,0,2,2,...,3,1,1,1,5,7,9,5,2,1
132579,3,2301,0,23,3,0,2,0,2,3,...,8,1,6,6,5,7,20,9,1,1
132580,3,2302,4,23,3,0,5,1,0,3,...,8,1,2,6,6,2,9,6,2,4
132581,3,2302,4,23,3,0,5,1,0,2,...,9,1,6,6,6,2,18,15,2,4

In [18]:
enade_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132582 entries, 0 to 132581
Data columns (total 35 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   ano                           132582 non-null  int64
 1   curso                         132582 non-null  int64
 2   nome_curso                    132582 non-null  int64
 3   uf                            132582 non-null  int64
 4   regiao                        132582 non-null  int64
 5   categoria_adm_IES             132582 non-null  int64
 6   organizacao_academica         132582 non-null  int64
 7   turno                         132582 non-null  int64
 8   ead_presencial                132582 non-null  int64
 9   tipo_ensino_medio             132582 non-null  int64
 10  range_idade                   132582 non-null  int64
 11  sexo                          132582 non-null  int64
 12  cor_raca                      132582 non-null  int64
 13  escolaridade_pai              132582 non-null  int64
 14  escolaridade_mae              132582 non-null  int64
 15  renda_familiar                132582 non-null  int64
 16  cotas                         132582 non-null  int64
 17  recebeu_cota                  132582 non-null  int64
 18  bolsa_academica               132582 non-null  int64
 19  recebeu_bolsa                 132582 non-null  int64
 20  trabalha                      132582 non-null  int64
 21  livros_ano                    132582 non-null  int64
 22  horas_estudo                  132582 non-null  int64
 23  estado_civil                  132582 non-null  int64
 24  moradia                       132582 non-null  int64
 25  pessoas_moradia               132582 non-null  int64
 26  ensino_medio                  132582 non-null  int64
 27  condicoes_salas_estudantes    132582 non-null  int64
 28  condicoes_praticas_materiais  132582 non-null  int64
 29  plano_ensino                  132582 non-null  int64
 30  avaliacao_curso               132582 non-null  int64
 31  idade_comeco_graduacao        132582 non-null  int64
 32  tempo_ocioso                  132582 non-null  int64
 33  tempo_cursado                 132582 non-null  int64
 34  nt_geral_categoria            132582 non-null  int64
dtypes: int64(35)
memory usage: 35.4 MB

In [19]:
enade_df.describe()

,ano,curso,nome_curso,uf,regiao,categoria_adm_IES,organizacao_academica,turno,ead_presencial,tipo_ensino_medio,...,pessoas_moradia,ensino_medio,condicoes_salas_estudantes,condicoes_praticas_materiais,plano_ensino,avaliacao_curso,idade_comeco_graduacao,tempo_ocioso,tempo_cursado,nt_geral_categoria
count,132582.000000,132582.000000,132582.000000,132582.000000,132582.000000,132582.000000,132582.000000,132582.000000,132582.000000,132582.000000,...,132582.000000,132582.000000,132582.000000,132582.000000,132582.000000,132582.000000,132582.000000,132582.000000,132582.000000,132582.000000
mean,1.773446,958.306097,2.931318,17.232128,3.003289,0.277677,3.271100,1.605557,1.720007,2.587915,...,5.275256,1.749838,3.353600,3.123403,3.177490,2.527621,8.739437,4.526067,3.552941,2.196429
std,1.029036,633.564555,2.540376,7.391493,1.286324,0.447855,1.665961,0.714375,0.585075,0.591502,...,3.220855,1.537772,2.551928,2.542716,2.798074,2.575301,6.020675,4.952888,1.843693,1.535945
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,393.000000,1.000000,10.000000,2.000000,0.000000,2.000000,1.000000,2.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,5.000000,1.000000,2.000000,1.000000
50%,2.000000,899.000000,2.000000,18.000000,4.000000,0.000000,3.000000,2.000000,2.000000,3.000000,...,6.000000,1.000000,3.000000,2.000000,5.000000,2.000000,7.000000,3.000000,3.000000,1.000000
75%,3.000000,1482.000000,6.000000,25.000000,4.000000,1.000000,5.000000,2.000000,2.000000,3.000000,...,8.000000,1.000000,6.000000,6.000000,6.000000,3.000000,11.000000,6.000000,4.000000,4.000000
max,3.000000,2302.000000,6.000000,26.000000,4.000000,1.000000,5.000000,3.000000,2.000000,3.000000,...,9.000000,5.000000,6.000000,6.000000,6.000000,7.000000,54.000000,46.000000,23.000000,4.000000

### One Hot Encoding
transformar variaveis núméricas em colunas de valores binarios

https://stackabuse.com/one-hot-encoding-in-python-with-pandas-and-scikit-learn/

https://arthurlambletvaz.medium.com/one-hot-encoding-o-que-%C3%A9-cd2e8d302ae0

https://minerandodados.com.br/one-hot-encoding-como-funciona-python/

https://stackify.dev/928474-scikit-learns-labelbinarizer-vs-onehotencoder

https://stackoverflow.com/questions/58101126/using-scikit-learn-onehotencoder-with-a-pandas-dataframe#:~:text=OneHotEncoder%20Encodes%20categorical%20integer%20features,matrix)%20into%20a%20Pandas%20Series.

https://nelson-ewert-oliveira.medium.com/um-guia-simples-de-como-tratar-vari%C3%A1veis-categ%C3%B3ricas-em-machine-learning-b791a00da805

https://docs.microsoft.com/pt-br/azure/architecture/data-science-process/spark-model-consumption

In [20]:
onehot_encoder = OneHotEncoder(sparse=False)

In [21]:
newdf = pd.DataFrame()

In [22]:
#todas colunas que não são algo numerico, que represente quantidade, sequencia / ordinal ou escala

colunas_onehot = ['nome_curso', 'uf', 'regiao', 'categoria_adm_IES', 'organizacao_academica', 'turno', 'ead_presencial', 'tipo_ensino_medio',
                    'sexo', 'cor_raca', 'cotas', 'bolsa_academica', 'trabalha', 'estado_civil', 'moradia', 'ensino_medio']

In [23]:
encoder = LabelBinarizer()

for i in colunas_onehot:
    encoder.fit(enade_df[i])
    transformed = encoder.transform(enade_df[i])
    ohe_df = pd.DataFrame(transformed)
    # ohe_df.rename(columns=lambda x: i+'_'+str(x) , inplace=True)
    ohe_df.rename(columns=lambda x: i+'_'+ str(translate_df[i][x]) , inplace=True)
    newdf = pd.concat([newdf, ohe_df], axis=1)

In [24]:
colunas_faltantes =  list(set(colunas_categoricas).difference(set(colunas_onehot)))

In [25]:
for i in colunas_faltantes:
    newdf[i] = enade_df[i]

In [26]:
newdf

,nome_curso_ADS,nome_curso_BCC,nome_curso_EC,nome_curso_GTI,nome_curso_LCC,nome_curso_RC,nome_curso_SI,uf_AC,uf_AL,uf_AM,...,tempo_ocioso,idade_comeco_graduacao,horas_estudo,ano,range_idade,escolaridade_mae,escolaridade_pai,tempo_cursado,nt_geral_categoria,curso
0,0,0,0,0,0,0,1,0,0,0,...,1,4,3,0,0,2,1,6,3,680
1,0,0,0,0,0,0,1,0,0,0,...,4,6,1,0,0,2,1,4,4,92
2,0,0,0,0,0,0,1,0,0,0,...,6,11,1,0,1,0,0,2,4,117
3,0,0,0,0,0,0,1,0,0,0,...,5,7,1,0,0,0,1,3,1,312
4,1,0,0,0,0,0,0,0,0,0,...,2,4,2,0,0,0,2,2,1,499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132577,1,0,0,0,0,0,0,0,0,0,...,1,4,3,3,0,1,1,2,4,2301
132578,1,0,0,0,0,0,0,0,0,0,...,5,9,3,3,0,2,2,2,1,2301
132579,1,0,0,0,0,0,0,0,0,0,...,9,20,2,3,2,0,2,1,1,2301
132580,0,0,0,0,1,0,0,0,0,0,...,6,9,1,3,0,1,1,2,4,2302
132581,0,0,0,0,1,0,0,0,0,0,...,15,18,1,3,2,1,0,2,4,2302

In [27]:
copia_df = copia_df[['nota_geral']]

In [28]:
newdf = pd.concat([newdf, copia_df], axis=1)

In [29]:
newdf.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132582 entries, 0 to 132581
Data columns (total 120 columns):
 #    Column                                      Dtype
---   ------                                      -----
 0    nome_curso_ADS                              int64
 1    nome_curso_BCC                              int64
 2    nome_curso_EC                               int64
 3    nome_curso_GTI                              int64
 4    nome_curso_LCC                              int64
 5    nome_curso_RC                               int64
 6    nome_curso_SI                               int64
 7    uf_AC                                       int64
 8    uf_AL                                       int64
 9    uf_AM                                       int64
 10   uf_AP                                       int64
 11   uf_BA                                       int64
 12   uf_CE                                       int64
 13   uf_DF                                       int64
 14   uf_ES                                       int64
 15   uf_GO                                       int64
 16   uf_MA                                       int64
 17   uf_MG                                       int64
 18   uf_MS                                       int64
 19   uf_MT                                       int64
 20   uf_PA                                       int64
 21   uf_PB                                       int64
 22   uf_PE                                       int64
 23   uf_PI                                       int64
 24   uf_PR                                       int64
 25   uf_RJ                                       int64
 26   uf_RN                                       int64
 27   uf_RO                                       int64
 28   uf_RR                                       int64
 29   uf_RS                                       int64
 30   uf_SC                                       int64
 31   uf_SE                                       int64
 32   uf_SP                                       int64
 33   uf_TO                                       int64
 34   regiao_CO                                   int64
 35   regiao_N                                    int64
 36   regiao_NE                                   int64
 37   regiao_S                                    int64
 38   regiao_SE                                   int64
 39   categoria_adm_IES_IES privada               int64
 40   organizacao_academica_C.F.E.T               int64
 41   organizacao_academica_Centro Universitário  int64
 42   organizacao_academica_Faculdade             int64
 43   organizacao_academica_I.F.E                 int64
 44   organizacao_academica_Instituto Superior    int64
 45   organizacao_academica_Universidade          int64
 46   turno_Diurno                                int64
 47   turno_Integral                              int64
 48   turno_Noturno                               int64
 49   turno_Não-Informado                         int64
 50   ead_presencial_EAD                          int64
 51   ead_presencial_Não-Informado                int64
 52   ead_presencial_Presencial                   int64
 53   tipo_ensino_medio_Exterior                  int64
 54   tipo_ensino_medio_Não-Informado             int64
 55   tipo_ensino_medio_Particular                int64
 56   tipo_ensino_medio_Pública                   int64
 57   sexo_F                                      int64
 58   cor_raca_Amarela                            int64
 59   cor_raca_Branca                             int64
 60   cor_raca_Indígena                           int64
 61   cor_raca_Não Inf.                           int64
 62   cor_raca_Parda                              int64
 63   cor_raca_Preta                              int64
 64   cotas_2+                                    int64
 65   cotas_EM público                            int64
 66   cotas_Não                                   int64
 67   cotas_Outro                                 int64
 68   cotas_Renda                                 int64
 69   cotas_Renda ou EM público                   int64
 70   cotas_Étnico Racial                         int64
 71   bolsa_academica_Extensão                    int64
 72   bolsa_academica_IC                          int64
 73   bolsa_academica_Monitoria                   int64
 74   bolsa_academica_Nenhum                      int64
 75   bolsa_academica_Outro                       int64
 76   bolsa_academica_PET                         int64
 77   trabalha_Não                                int64
 78   trabalha_Não-Informado                      int64
 79   trabalha_Sim                                int64
 80   estado_civil_Casado                         int64
 81   estado_civil_Divorciado                     int64
 82   estado_civil_Não-Informado                  int64
 83   estado_civil_Outro                          int64
 84   estado_civil_Solteiro                       int64
 85   estado_civil_Viúvo                          int64
 86   moradia_Cônjuge/filhos                      int64
 87   moradia_Habitação individual/coletiva       int64
 88   moradia_Não-Informado                       int64
 89   moradia_Outras pessoas                      int64
 90   moradia_Outro                               int64
 91   moradia_Parentes                            int64
 92   moradia_Sozinho                             int64
 93   moradia_Universidade                        int64
 94   ensino_medio_EJA/Supletivo                  int64
 95   ensino_medio_EM tradicional                 int64
 96   ensino_medio_Não-Informado                  int64
 97   ensino_medio_Outro                          int64
 98   ensino_medio_Profissionalizante magistério  int64
 99   ensino_medio_Profissionalizante técnico     int64
 100  avaliacao_curso                             int64
 101  recebeu_bolsa                               int64
 102  livros_ano                                  int64
 103  renda_familiar                              int64
 104  plano_ensino                                int64
 105  condicoes_praticas_materiais                int64
 106  pessoas_moradia                             int64
 107  recebeu_cota                                int64
 108  condicoes_salas_estudantes                  int64
 109  tempo_ocioso                                int64
 110  idade_comeco_graduacao                      int64
 111  horas_estudo                                int64
 112  ano                                         int64
 113  range_idade                                 int64
 114  escolaridade_mae                            int64
 115  escolaridade_pai                            int64
 116  tempo_cursado                               int64
 117  nt_geral_categoria                          int64
 118  curso                                       int64
 119  nota_geral                                  float64
dtypes: float64(1), int64(119)
memory usage: 121.4 MB

In [30]:
newdf

,nome_curso_ADS,nome_curso_BCC,nome_curso_EC,nome_curso_GTI,nome_curso_LCC,nome_curso_RC,nome_curso_SI,uf_AC,uf_AL,uf_AM,...,idade_comeco_graduacao,horas_estudo,ano,range_idade,escolaridade_mae,escolaridade_pai,tempo_cursado,nt_geral_categoria,curso,nota_geral
0,0,0,0,0,0,0,1,0,0,0,...,4,3,0,0,2,1,6,3,680,0.246398
1,0,0,0,0,0,0,1,0,0,0,...,6,1,0,0,2,1,4,4,92,0.629683
2,0,0,0,0,0,0,1,0,0,0,...,11,1,0,1,0,0,2,4,117,0.543228
3,0,0,0,0,0,0,1,0,0,0,...,7,1,0,0,0,1,3,1,312,0.257925
4,1,0,0,0,0,0,0,0,0,0,...,4,2,0,0,0,2,2,1,499,0.358039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132577,1,0,0,0,0,0,0,0,0,0,...,4,3,3,0,1,1,2,4,2301,0.516556
132578,1,0,0,0,0,0,0,0,0,0,...,9,3,3,0,2,2,2,1,2301,0.296909
132579,1,0,0,0,0,0,0,0,0,0,...,20,2,3,2,0,2,1,1,2301,0.226269
132580,0,0,0,0,1,0,0,0,0,0,...,9,1,3,0,1,1,2,4,2302,0.653266
132581,0,0,0,0,1,0,0,0,0,0,...,18,1,3,2,1,0,2,4,2302,0.641960

In [31]:
newdf.to_csv('./{}.csv'.format('enade_onehot'),index=False,float_format='%.3f')